# 更新时间:2023-8-11 22:00
# > 航旅纵横

#####6⃣️#####   
^http:\/\/home\.umetrip\.com\/gateway\/api\/umetrip\/native url reject
^https?:\/\/discardrp\.umetrip\.com\/gateway\/api\/umetrip\/native url reject-200
^https?:\/\/home\.umetrip\.com\/gateway\/api\/umetrip\/native url reject

hostname=discardrp.umetrip.com,home.umetrip.com
