#更新时间:2023-5-10 23:00
# > 航旅纵横

#####6⃣️#####   
# > 航旅纵横
# 感谢Dragon 分享 首页悬浮标签
^http:\/\/home\.umetrip\.com\/gateway\/api\/umetrip\/native url reject
^https?:\/\/discardrp\.umetrip\.com\/gateway\/api\/umetrip\/native url reject-200
^https?:\/\/home\.umetrip\.com\/gateway\/api\/umetrip\/native url reject

hostname=discardrp.umetrip.com,home.umetrip.com
