#!name = 优酷
#!desc = 优酷去广告
#!author = RuCu6
#!openUrl =
#!homepage = https://github.com/Du23456/Quantumult-X/tree/main
#!icon = http://www.kuaipng.com/Uploads/pic/w/2020/05-20/81896/water_81896_698_698_.png
#!date = 2023-9-4 15:50

#原项目链接: https://github.com/RuCu6/QuanX/raw/main/Rewrites/Cube/cnftp.snippet

#[rewrite_local]
# 首页信息流,播放详情页,首页菜单,我的页面,评论区,底部菜单
^https:\/\/acs\.youku\.com\/gw\/mtop\.youku\.columbus\.(gateway\.new\.execute|home\.feed|home\.query|uc\.query) url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/cnftp.js
^https:\/\/acs\.youku\.com\/gw\/mtop\.youku\.columbus\.ycp\.query url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/cnftp.js
^https:\/\/acs\.youku\.com\/gw\/mtop\.youku\.haidai\.lantern\.appconfig\.get url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/cnftp.js
# 播放页,主演陪你看,弹窗动图
^https:\/\/acs\.youku\.com\/gw\/mtop\.youku\.(pisp\.scripts\.get|xspace\.poplayer\.position\.query) url reject-dict
# 青少年模式弹窗
^https:\/\/acs\.youku\.com\/gw\/mtop\.youku\.huluwa\.(dispatcher\.youthmode\.config2|user\.youthmode\.servermsg) url reject-dict
# 热剧弹窗
^https:\/\/push\.m\.youku\.com\/collect-api\/get_push_interval_config_wx\? url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/cnftp.js
# 开屏广告
^https:\/\/un-acs\.youku\.com\/gw\/mtop\.youku\.play\.ups\.appinfo\.get url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/cnftp.js

#[mitm]
hostname=acs.youku.com, push.m.youku.com, un-acs.youku.com
