#!name = 豆瓣
#!desc = 豆瓣去广告
#!author = RuCu6
#!date = 2024-7-30 17:05

#[rewrite_local]
^https:\/\/api\.douban\.com\/v2\/app_ads\/splash url reject
^https:\/\/api\.douban\.com\b.*\/common_ads\? url reject

#[mitm]
hostname = api.douban.com
