#!name = 闲鱼
#!desc = 闲鱼去广告
#!author = RuCu6
#!date = 2024-7-31 14:06

#[rewrite_local]
^https:\/\/gw\.alicdn\.com\/mt\/ url reject
^https:\/\/gw\.alicdn\.com\/tfs\/.+\d{3,4}-\d{4} url reject
^https:\/\/gw\.alicdn\.com\/tps\/.+\d{3,4}-\d{4} url reject
^https:\/\/acs\.m\.taobao\.com\/gw\/mtop\.taobao\.idle\.home\.welcome url reject

#[mitm]
hostname= gw.alicdn.com, acs.m.taobao.com
