# 12306
^https:\/\/ad\.12306\.cn\/ad\/ser\/getAdList url script-analyze-echo-response https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/12306.js
^https:\/\/ad\.12306\.cn\/(ad\/mon\/mzc\?|res\/adfiles\/delivery\/) url reject
^https:\/\/mobile\.12306\.cn\/otsmobile\/h5\/otsbussiness\/travelPageImg\/ url reject
^https:\/\/mobile\.12306\.cn\/otsmobile\/ url script-response-header https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/header.js

hostname=ad.12306.cn, mobile.12306.cn
