#!name = 钉钉
#!desc = 钉钉去广告
#!author = RuCu6
#!date = 2024-7-31 14:06

#[rewrite_local]
# 误杀少 解决阿里系的开屏 目前测试咸鱼/钉钉 感谢【zzzzzz】分享
^https:\/\/(gw|img)\.alicdn\.com\/imgextra\/.+\/[\w!]+\d+-\d+-.+-\b([8-9]\d{2,}|[1-9]\d{3,})\b-\b([5-9]\d{2,}|[1-9]\d{3,})\b url reject-dict

#[mitm]
hostname = gw.alicdn.com, img.alicdn.com
