#!name = 飞常准
#!desc = 飞常准去广告
#!author = fmz200
#!date = 2023-12-8 14:06

#[rewrite_local]
^https?:\/\/app\.variflight\.com\/ad\/ url reject
^https?:\/\/app\.variflight\.com\/v\d\/advert\/ url reject

#[mitm]
hostname=app.variflight.com
