#!name = 丰巢（小程序）
#!desc = 丰巢微信小程序去广告
#!author = fmz200
#!date = 2024-7-28 14:06

[rewrite_local]
^https:\/\/webchatapp\.fcbox\.com\/fcboxactivityweb\/api\/v2\/clientPage url reject-dict
^https:\/\/dsp\.fcbox\.com url reject-dict

[mitm]
hostname=webchatapp.fcbox.com, dsp.fcbox.com
