#!name = 麦当劳（App+小程序）
#!desc = 麦当劳App、微信小程序去广告
#!author = fmz200
#!openUrl =
#!homepage = https://github.com/Du23456/Quantumult-X/tree/main
#!icon = https://play-lh.googleusercontent.com/hSRuCp9qVkxNYLYibPYyra4bQLYDyHg40TA1Cu6i9Z3HsWEgS1q076VfjacAdQquHw=w480-h960
#!date = 2023-7-9 18:26

# 开屏广告 首页弹窗
^https:\/\/api\.mcd\.cn\/bff\/portal\/(home\/splash|richpop) url reject-dict
# 主页
^https:\/\/api\.mcd\.cn\/bff\/portal\/home\/hotActivity url reject-dict

hostname=api.mcd.cn
