#!name = 必胜客
#!desc = 必胜客去广告
#!author = fmz200
#!openUrl =
#!homepage = https://github.com/Du23456/Quantumult-X/tree/main
#!icon = https://play-lh.googleusercontent.com/35PzRTddm_BLY1oIGSjZIboi9li8N-7p-QZjwt6QxHeovQkTHf7K3GQTfJmmPsVdqXY=w480-h960
#!date = 2023-5-10 23:00

#[rewrite_local]
^https?:\/\/res\.pizzahut\.com\.cn\/CRM\/phad\/apphome\/apphome url reject

#[mitm]
hostname=res.pizzahut.com.cn

