#!name = Spotify
#!desc = Spotify去广告
#!author = fmz200
#!date = 2024-7-31 01:21

#[rewrite_local]
^https?:\/\/spclient\.wg\.spotify\.com\/(ad-logic|ads|.+ad_slot|.+banners|.+canvases|.+cards|.+crashlytics|.+doubleclick.net|.+enabled-tracks|.+event|.+sponsored|.+promoted|.+promoted_offer) url reject-img
^https?:\/\/api\d?\.musical\.ly\/api\/ad\/ url reject-img

#[mitm]
hostname = spclient.wg.spotify.com, api*.musical.ly
