#!name = 微信腾讯乘车码小程序
#!desc = 微信腾讯乘车码小程序去广告
#!author = fmz200
#!openUrl =
#!homepage = https://github.com/Du23456/Quantumult-X/tree/main
#!icon = https://syimg.3dmgame.com/uploadimg/ico/2020/0102/1577959136296544.png
#!date = 2023-5-10 23:00
   
^https:\/\/ccmsupport-sz\.tenpay\.com\/cgi-bin\/common\/ccm_page_element.cgi url reject

hostname=ccmsupport-sz.tenpay.com
