#!name = 微信
#!desc = 微信公众号去广告
#!author = RuCu6
#!date = 2024-7-9 11:36

^http:\/\/\w+\.wxs\.qq\.com\/\d+\/\d+\/(snscosdownload|snssvpdownload)\/(SH|SZ)\/reserved\/\w+ url reject-dict
^https:\/\/mp\.weixin\.qq\.com\/mp\/(cps_product_info|getappmsgad|jsmonitor|masonryfeed|relatedarticle)\? url reject-dict

hostname=mp.weixin.qq.com
