#!name = WPS
#!desc = WPS去广告
#!author = fmz200
#!date = 2023-12-8 14:06

#[rewrite_local]
^https?:\/\/ios\.wps\.cn\/ad-statistics-service url reject
^https?:\/\/mobile-pic\.cache\.iciba\.com\/feeds_ad\/ url reject-200

#[mitm]
hostname = ios.wps.cn, mobile-pic.cache.iciba.com
